.container{
    width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product-inner{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product-inner .wrapper{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product-inner .search-box{
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-box .search-inp{
    width: 90%;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    background-color: rgba(228, 251, 252, 0.5);
    outline: none;
}
.search-box .search-button{
    width: 10%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    color: rgba(60, 64, 67, 0.3);
    background-color: rgba(228, 251, 252, 0.5);
}
.sort-box{
    width: 30%;
    padding: 1rem;
    background-color: rgba(228, 251, 252, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sort-box select{
    outline: none;
    border: none;
    background-color: rgba(228, 251, 252, 0.5);
}
.sort-box select option p{
    padding: .5rem;
}

@media (max-width : 800px){
    .product-inner .search-box{
        width: 60%;
    }
    .sort-box{
        width: 40%;
    }
}
@media (max-width:600px){
    .product-inner .wrapper{
        flex-direction: column;
    }
    .product-inner .search-box{
        width: 100%;
    }
    .sort-box{
        width: 100%;
    }
}

.products-wrapper{
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.sidebar{
    width: 25%;
    height: auto;
    padding: 1rem;
    background-color: rgba(228, 251, 252, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media (max-width : 1200px){
    .sidebar{
        width: 30%;
    }
}
.filter{
    width: 100%;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.filter > p{
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.filter .price-holder{
    width: 100%;
    max-width: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.price-holder span{
    font-size: .9rem;
}
.price-holder input{
    width: 70px;
    padding: .5rem;
}
.categ-holder{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.categ-holder .checklist{
    width: 100%;
    margin: .5rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-self: flex-start;
}
.checklist input{
    width: 20px;
    height: 20px;
}
.checklist p{
    margin-left: 1rem;
}

.product-list{
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product-list .list-item{
    width: 90%;
    max-width: 300px;
    height: 300px;
    margin: 1rem;
    margin-top: 0;
    text-decoration: none;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product-list .list-item:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.list-item .item-details{
    width: 100%;
    padding : 1rem;
    height: 150px;

    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.item-details .text-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.text-details h3{
    width: 70%;
    color: rgba(0, 0, 0, 0.8);
}
.text-details .price-tag{
    color: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.text-details .price-tag p del{
    color: rgba(60, 64, 67, 0.3);
}

@media (max-width : 1200px){
    .product-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .text-details h3{
        width: auto;
    }
}

@media (max-width : 800px){
    .product-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-list .list-item{
        width: 200px;
        max-width: 200px;
    }
    .text-details h3{
        width: auto;
    }
}

@media (max-width: 600px){
    h1{
        padding: 0;
        margin: 0;
    }
    .sidebar{
        display: none;
    }
    .product-list{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .product-list .list-item{
        width: 100%;
        max-width: 400px;
        height: 400px;
        margin: 0;
        margin-bottom: 1rem;
        border-radius: 0;
    }
    .list-item .item-details{
        height: 200px;
    }
    .item-details .text-details{
        flex-direction: column;
        justify-content: space-between;        
    }
    .text-details .price-tag{
        margin-top: 1rem;
        align-items: flex-start;
    }
    .product-list .list-item:hover{
        box-shadow: none;
    }    
    .product-inner .search-box{
        padding: 1rem 0;
        border-radius: 0;
    }
}